body{
 background-image: url(background.jpg);
 background-size:cover;

}
*{
    box-sizing: content-box;
    color: white;
    font-size: 18px;
}
main{
  width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.centerItem{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.motto{
    font-size: 40px;
    color: lime;
    margin-top: 2%;
    margin-bottom: 1%;
}
nav{
    background-color:lime;
    width: 1000px;
    height: 45px;
}
.monopattino{
    display: inline-block;
    font-size: 30px;
}
.batteria{
    
    height: 25px;
    border-radius: 6px;
}
.batteria.gino{
    background-color:orange;
    width: 300px;

}
.batteria.mike{
    background-color:green;
    width: 650px;
}
.batteria.fede{
    background-color:red;
    width: 150px;
}
.sfondo{
    width: 1200px;
    height: 800px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin:auto;
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2%;
}
button{
color: black;
margin-right: 1%;
}
.dimensionilogo{
    width: 300px;
    height: auto;
}
.opzioni{
    margin-top: 2%;
}